body  {
    background: linear-gradient(to right, #2d87aa 0%,#2d87aa 65%,#000000 50%, black 50%, black 100%); 
    }
.image {
    float: left;
    width: 300px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}
.container {
background: #ffffff;
opacity: .8;
margin: 25px 50px;
padding: 15px 25px 25px;
}