body  {
    background: linear-gradient(to right, #2d87aa 0%,#2d87aa 65%,#000000 50%, black 50%, black 100%); 
    }
.image {
    float: left;
    width: 275px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}
.about {
background: #e9ecef;
padding: 4rem 2rem 2rem;
border-radius: .3rem;
font: #212529;
margin: 0px 0px;
}

.connect {
    float: right;
    margin: 5px;
}
.card img {
width: 100%;
height: 100%;
}

.container {
   background: #e9ecef;
    padding: 4rem 2rem 2rem;
    border-radius: .3rem;
    font: #212529;
    margin: 0px 0px;
    }

    .container-fluid
    {
        padding: 4rem 2rem 2rem
    }

